.messages-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-main);
}

.messages-card {
  background: var(--modal-color-background);
  padding: 60px 50px;
  border-radius: 16px;
  box-shadow: var(--modal-box-shadow);
  text-align: center;
  max-width: 500px;
  width: 100%;

  animation: popupFadeIn 0.5s ease forwards;
  transition: all 0.3s ease;
}

.messages-card:hover {
  box-shadow: var(--modal-box-shadow-hover);
}

.messages-card-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  font-size: 70px;
  line-height: 1;
}

.messages-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-text-main);
}

.messages-text {
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--color-text-secondary);
}


.messages-hint {
  font-size: 12px;
  color: var(--color-text-tertiary);
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
