.messages-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fa;
}

.messages-card {
  background: #ffffff;
  padding: 60px 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  max-width: 500px;
  width: 100%;

  animation: popupFadeIn 0.5s ease forwards;
  transition: all 0.3s ease;
}

.messages-card:hover {
  box-shadow: 0 16px 40px rgba(2, 19, 255, 0.281);
}


.messages-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222;
}

.messages-text {
  font-size: 20px;
  margin-bottom: 16px;
  color: #333;
}

.messages-list {
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
}

.messages-list li {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.messages-hint {
  font-size: 15px;
  color: #999;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
