.activation-wrapper {
  min-height: calc(100vh - 97px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background-main);
  padding: 20px;
}

.activation-card {
  background: var(--modal-color-background);
  border-radius: var(--modal-border-radius);
  padding: 36px 32px 40px;
  max-width: 420px;
  width: 100%;
  box-shadow: var(--modal-box-shadow);
  animation: fadeIn 0.4s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activation-card:hover {
  box-shadow: var(--modal-box-shadow-hover);
}

.activation-icon {
  font-size: 48px;
  margin-bottom: 18px;
  line-height: 1;
}

.activation-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-main);
  margin-bottom: 14px;
  text-align: center;
  width: 100%;
} 

.activation-text {
  font-size: 14px;
  color: var(--color-text-tertiary);
  line-height: 1.6;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
} 

.activation-submit-btn {
  margin-top: 10px;
  margin-left: 0px;
  padding: 14px;
  border-radius: 12px;
  width: 100%;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.25s ease;
}

.activation-submit-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
  opacity: 0.8;
}

.activation-submit-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.activation-submit-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.35);
}

.activation-submit-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.25);
}

.activation-submit-btn:hover::after {
  transform: translateX(100%);
}

.activation-btn {
  background: var(--color-primary-bottom-gradient);
  color: #fff;
  border: none;
}

.activation-btn:hover {
  box-shadow: 0 6px 18px rgba(4, 0, 255, 0.35);
  transform: translateY(-2px) scale(1.03);
}

.activation-btn:active {
  transform: translateY(0) scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}