.activation-wrapper {
  min-height: calc(100vh - 70px); /* якщо є хедер */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
  padding: 20px;
}

.activation-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 32px;
  max-width: 420px;
  width: 100%;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease;
}

.activation-icon {
  font-size: 48px;
  margin-bottom: 16px;
}

.activation-title {
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 12px;
}

.activation-text {
    font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  margin-top: 12px;
}
.activation-button {
  display: block;
  width: 100%;
  padding: 12px 28px;
  font-size: 16px;
  text-decoration: none;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  transition: all 0.2s ease;

  margin-top: 24px;
  box-sizing: border-box;

  position: relative;   /* 👈 важливо */
  cursor: pointer;
}


.activation-button:hover {
  background-color: #1d4ed8;
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(37, 99, 235, 0.3);
  cursor: pointer;
}
