.section-RegistrationPage {
  min-height: calc(100vh - 200px); /* header height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.section-done {
  min-height: calc(100vh - 400px); /* header height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}