.success-screen {
  min-height: calc(100vh - 97px);
  display: flex; 
  align-items: center;
  justify-content: center;
  background: var(--color-background-main);
  padding: 20px;
}

.success-card {
  background: var(--modal-color-background);
  border-radius: var(--modal-border-radius);
  padding: 40px 36px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  box-shadow: var(--modal-box-shadow);
  animation: fadeIn 0.5s ease;
  transition: all 0.3s ease;
}

.success-card:hover {
  box-shadow: var(--modal-box-shadow-hover);
}

.success-title {
  font-size: var(--modal-title-one-size);
  font-weight: 700;
  color: var(--color-text-main);
  margin-bottom: 20px;
  margin-top: 10px;
}

.success-main {
  font-size: 16px;
  font-weight: 600;
  color: #2563eb;
  margin-bottom: 20px;
}

.success-info {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 18px 0px;
  font-size: 15px;
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.success-info p{
  margin: 10px;
}

.success-info strong {
  color: #111827;
}

.success-hint {
  font-size: 12px;
  color: var(--color-text-tertiary);
  margin: 0;
  margin-bottom: 15px;
}

/* ===== ANIMATION ===== */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== MOBILE ===== */

@media (max-width: 480px) {
  .success-card {
    padding: 32px 24px;
  }

  .success-title {
    font-size: 22px;
  }
}
