@import "../styles/variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #f7f8fa;
  color: #1f2137;
}

main {
  flex: 1;
}