.contacts-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-main);
}

.contacts-card {
  background: var(--modal-color-background);
  padding: 60px 50px;
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-box-shadow);
  max-width: 520px;
  width: 100%;
  text-align: center;

  animation: contactsFadeIn 0.5s ease forwards;
  transition: all 0.3s ease;
}

.contacts-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: var(--modal-box-shadow-hover);
}

.contacts-card-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  font-size: 70px;
  line-height: 1;
}

.contacts-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-text-main);
}

.contacts-text {
  font-size: 16px;
  margin-bottom: 24px;
  color: var(--color-text-secondary);
}

.contacts-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-top: 5px;
  margin-bottom: 10px;
  padding: 14px 24px;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  color: #fff;
  background: var(--color-primary-bottom-gradient);

  border-radius: 12px;

  transition: transform 0.25s ease, opacity 0.25s ease;
}

.contacts-btn:hover {
  transform: scale(1.05);
}

.contacts-btn:active {
  transform: translateY(0);
}


.contacts-hint {
  font-size: 12px;
  color: var(--color-text-tertiary);
}

@keyframes contactsFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
